
.apple-pay-button-wrapper {

}

.apple-pay-button,
.apple-pay-button:hover,
.apple-pay-button:active,
.apple-pay-button:focus {
    display: inline-block;
    background-size: 90% 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 5px;
    padding: 0px;
    border: 0;
    box-sizing: border-box;
    min-width: 114px;
    height: 44px;
    background-image: -webkit-named-image(apple-pay-logo-white);
    background-color: black;
}

.apple-pay-button-white {
    background-image: -webkit-named-image(apple-pay-logo-black);
    background-color: white;
}

.apple-pay-button-white-with-line {
    background-image: -webkit-named-image(apple-pay-logo-black);
    background-color: white;
    border: .5px solid black;
}

.braintree-applepay-account {
    padding: 15px 0;
    position: relative;
    display: inline-block;
}

.braintree-applepay-account .payment-method-type {
    font-weight: 700;
    margin: 0 7px 0 0;
}

.braintree-applepay-account .payment-method-description {
    color: #575757;
}